<!DOCTYPE html>
<html>
  <head>
    <title>We Blog</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <% include partials/_header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
